/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  padding-top: 56px;
  padding-bottom: 166px;
  background-color: #0A2640;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 72px;
  margin-right: 100px;
  margin-left: 100px;
}
.header__navigation__logo {
  display: flex;
  gap: 12px;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 43px;
  font-weight: 700;
  line-height: 40px;
}
.header__navigation__box {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.header__navigation__box__item {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-transform: capitalize;
}
.header__navigation__box__item:not(:last-child) {
  color: #ffffff;
}
.header__navigation__box__item--active {
  color: #0A2640;
  background-color: #ffffff;
  padding: 8px 40px;
  border: 1px solid transparent;
  border-radius: 24px;
}
.header__navigation__box__item:not(:last-child) {
  margin-right: 40px;
}

.story {
  padding-bottom: 96px;
}

.story__cards {
  padding-bottom: 120px;
}

.numbers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.numbers__content {
  padding-bottom: 84px;
}

.numbers {
  background-color: #0A2640;
}

.numbers__card__items {
  display: flex;
  justify-content: center;
  gap: 142px;
}

.numbers__card__item__heading {
  font-family: "Manrope", sans-serif;
  font-size: 96px;
  font-weight: 400;
  line-height: 56px;
  color: #4FE9A4;
  margin-bottom: 32px;
}

.numbers__card__item__pargraph {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
}

.team {
  padding-top: 96px;
  padding-bottom: 126px;
}

.team__information {
  padding-bottom: 52px;
}

.team__cards {
  display: flex;
  justify-content: center;
  gap: 51px;
}

.team__card__image {
  width: 300px;
  height: 354px;
  border: 1px solid transparent;
  border-radius: 24px;
  object-fit: cover;
  margin-bottom: 24px;
}

.team__card__name {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  color: #000000;
  margin-bottom: 12px;
}

.team__card__profession {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #777777;
}

.values {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #0A2640;
}

.values__content {
  padding-bottom: 72px;
}

.values__cards {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

.values__card {
  display: flex;
  flex-direction: row;
}
.values__card:not(:last-child) {
  padding-bottom: 72px;
}

.values__card__image {
  margin-right: 50px;
  height: 150px;
  width: 150px;
  border: 1px solid transparent;
  border-radius: 24px;
  object-fit: cover;
}

.values__card__description__heading {
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
}

.values__card__description__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
}

.footer {
  padding-top: 124px;
  padding-bottom: 117px;
}

.footer__box {
  padding-bottom: 184px;
}

.footer__enterprise {
  height: 391px;
  width: 1200px;
  border: 1px solid transparent;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
  background-color: #0A2640;
  background-image: url(../images/ellipse.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.footer__enterprise__inner {
  margin: 72px 242px;
}

.footer__enterprise__inner__heading {
  margin-bottom: 48px;
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  color: #ffffff;
}

.footer__enterprise__inner__search {
  display: flex;
  justify-content: center;
}

.footer__enterprise__inner__search__input {
  background-color: #ffffff;
  color: #000000;
  padding: 12px 32px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  border: 2px solid transparent;
  border-radius: 240px;
  width: 370px;
  margin-right: 24px;
}

.footer__enterprise__inner__search__submit {
  background-color: #4FE9A4;
  padding: 16px 56px;
  border: 2px solid transparent;
  border-radius: 56px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.footer__navigation {
  display: flex;
  justify-content: center;
}

.footer__navigation__social {
  width: 479px;
  padding-right: 179px;
}

.footer__logo {
  font-family: "Manrope", sans-serif;
  font-size: 43px;
  font-weight: 700;
  line-height: 34px;
  color: #0A2640;
  margin-bottom: 44px;
}

.footer__navigation__social__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #777777;
}
.footer__navigation__social__paragraph:not(:last-child) {
  margin-bottom: 64px;
}

.footer__navigation__inner {
  display: flex;
  flex-direction: column;
}
.footer__navigation__inner:not(:last-child) {
  padding-right: 96px;
  width: 246px;
}
.footer__navigation__inner:last-child {
  width: 200px;
}

.footer__navigation__inner__heading {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
  margin-bottom: 32px;
}

.footer__navigation__inner__item {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #777777;
}
.footer__navigation__inner__item:not(:last-child) {
  padding-bottom: 34px;
}

a {
  text-decoration: none;
  display: inline-block;
}

.content {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.content__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.content__heading {
  text-align: center;
  color: #ffffff;
}
.content__heading:first-child {
  font-family: "Manrope", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 84px;
}
.content__heading:not(:first-child) {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}

.content__paragraph:not(:last-child) {
  margin-bottom: 12px;
}

.content__heading:not(:last-child:not(:first-child)) {
  margin-bottom: 32px;
}

.information {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.information__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #777777;
}
.information__paragraph:not(:last-child) {
  margin-bottom: 12px;
}

.information__heading {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  color: #000000;
}
.information__heading:not(:last-child:not(:first-child)) {
  margin-bottom: 32px;
}

/*# sourceMappingURL=style.css.map */
